<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Hotel</title>
</head>
<body>
<h1>Delete Hotel</h1>
<p>Are you sure you want to delete this hotel?</p>

<form action="/hotel/delete" method="post" th:object="${hotel}">
    <input type="hidden" name="id" th:value="*{id}"/>
    <p>Name: <span th:text="*{name}">Hotel Name</span></p>
    <p>City: <span th:text="*{city}">City</span></p>
    <button type="submit">Delete</button>
</form>

<a th:href="@{/hotel}">Cancel</a>
</body>
</html>
