<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Room</title>
</head>
<body>
<h1>Edit Room</h1>
<form th:action="@{/room/edit}" th:object="${room}" method="post">
    <div>
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" th:field="*{id}" required />
    </div>    <div>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" th:field="*{type}" required />
    </div>
    <div>
        <label for="availability">Availability:</label>
        <select id="availability" name="availability" th:field="*{availability}">
            <option value="true">Available</option>
            <option value="false">Unavailable</option>
        </select>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" th:field="*{price}" required />
    </div>
    <div>
        <button type="submit">Update Room</button>
    </div>
</form>
<a th:href="@{/room}">Return to Room List</a>
</body>
</html>
