<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Customers</title>
</head>
<body>
    <h1>Search Customers</h1>
    <form th:action="@{/customer/name}" th:object="${customer}" method="post">
        <div>
            <label for="name">Customer Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" required />
        </div>
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
<a th:href="@{/customer}">Return to Customer List</a>
</body>
</html>
