<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <a href="/hotelmanager/logout">Logout</a>
    <a href="/hotelmanager/home">Back to Home</a>

    <div th:if="${customer != null}">
        
            <div>
                <label for="ID">ID</label>
                <input type="id" id="id" name="id" th:value="${customer.id}" readonly />
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" th:value="${customer.email}" readonly />
            </div>

            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" th:value="${customer.name}" readonly />
            </div>
        <form th:action="@{/hotelmanager/subscription}" method="post">
            <button type="submit" th:text="${customer.sub ? 'Unsubscribe' : 'Subscribe'}"></button>
        </form>
    </div>
    <div th:unless="${customer != null}">
        <p>You need to log in to view this page.</p>
    </div>
    
    <h2>Your Bookings</h2>
    <div th:if="${bookings.isEmpty()}">
        <p>You have no bookings.</p>
    </div>
    <div th:unless="${bookings.isEmpty()}">
        <table>
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Room Type</th>
                    <th>Start Date</th>
                    <th>No. of Days</th>
                    <th>Total Price</th>
                    <th>CheckIn Status</th>
                    <th>CheckOut Status</th>
                    <th>Payment Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="booking : ${bookings}">
                    <td th:text="${booking.id}"></td>
                    <td th:text="${booking.room.type}"></td>
                    <td th:text="${booking.startDate}"></td>
                    <td th:text="${booking.noOfDays}"></td>
                    <td th:text="${booking.totalPrice}"></td>
                    <td th:text="${booking.checkInStatus} ? 'Checked In' : 'Not Checked In'"></td>
                    <td th:text="${booking.checkOutStatus} ? 'Checked Out' : 'Not Checked Out'"></td>
                    <td th:text="${booking.paymentStatus} ? 'Paid' : 'Not Paid'"></td>

                    <td>
                        <a th:href="@{/booking_success/{id}(id=${booking.id})}">View Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
